<div class="container">
  <div class="row">
    <div class="offset-sm-2 col-sm-8">
      
      <blockquote>
        <%= render 'form', main: @main %>
      </blockquote>
       <%= link_to '資料一覧', mains_path, class: 'nav-link' %>
    
    </div>
  </div>
</div>
