<div class="container">
  <div class="row m-top">
    <div class="offset-sm-4 col-sm-4">
      
      <blockquote>
        <%= render 'form', main: @main %>
      </blockquote>

    </div>
  </div>
</div>